<h2 mat-dialog-tittle>Hello World</h2>
<form mat-dialog-content for>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque
    numquam maxime aliquid praesentium neque officia ab fuga tempore, quae
    commodi ea exercitationem nulla necessitatibus expedita corporis? Libero,
    quos quasi.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque
    numquam maxime aliquid praesentium neque officia ab fuga tempore, quae
    commodi ea exercitationem nulla necessitatibus expedita corporis? Libero,
    quos quasi.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet cumque
    numquam maxime aliquid praesentium neque officia ab fuga tempore, quae
    commodi ea exercitationem nulla necessitatibus expedita corporis? Libero,
    quos quasi.
  </p>
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="'confirm'">Confirm</button>
</div>
