<h2 mat-dialog-tittle>Create New Purchase</h2>
<form mat-dialog-content [formGroup]="purchaseForm">

  <mat-form-field>
    <mat-label for="invoiceNo">Invoice No: </mat-label>
    <input matInput id="invoiceNo" type="text" placeholder="Please Enter the Invoice Number.."
      formControlName="invoiceNo">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label for="supplierName">Supplier Name: </mat-label>
    <input matInput id="supplierName" type="text" placeholder="Please Enter the Supplier Name.."
      formControlName="supplierName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="purchaseDate">Purchase Date: </mat-label>
    <input matInput [matDatepicker]="picker"  formControlName="purchaseDate">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label>Select Product</mat-label>
    <mat-select  formControlName="selectedProductid" >
      <mat-option id="productName" *ngFor="let product of productList" [value]="product.productId">{{product.productName}}</mat-option>
    </mat-select>
  </mat-form-field>
  &nbsp;
   <mat-form-field *ngIf="purchaseForm.controls.selectedProductid.value == -1">
    <mat-label for="newProductName">New Product Name</mat-label>
    <input matInput type="text" id="newProductName" formControlName="newProductName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-label for="quantity">Quantity</mat-label>
    <input matInput type="number" id="quantity" formControlName="quantity">
  </mat-form-field>
  &nbsp;
  <mat-form-field>
    <mat-label for="invoiceAmount">Total Amount</mat-label>
    <input matInput type="number" id="invoiceAmount" formControlName="invoiceAmount">
  </mat-form-field>

</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="'confirm'" (click)="onSaveClick()">Save Purchase</button> 
</div>