.customspinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  background-size: 100%;
}

.title {
  margin: 2%;
  border-radius: 8px;
  text-align: left;
  font-weight: 600;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

.totalarea{
  padding-top: 1%;
  margin-left: 60%;
  font-weight: bold;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wide-field {
  width: 400px;
  max-width: 100%;
}

/* .serial-list {
  max-height: 300px;
  overflow-y: auto;
} */

/* mat-list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */