  <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm px-4">
    <a class="navbar-brand fw-bold" href="#">⚡ Ghosh Electric</a>
    <div class="ms-auto d-flex align-items-center">
      <a class="nav-link px-3" routerLink="dashboard">Home</a>
      <a class="nav-link px-3" routerLink="purchase-list">Purchase</a>
      <a class="nav-link px-3" routerLink="sale-list">Sell</a>
      <a class="nav-link px-3" routerLink="stock">Stock</a>
      <a class="btn btn-outline-dark ms-3" (click)="openLoginModal()">Login</a>
    </div>
  </nav>
  <router-outlet></router-outlet>
