.purchaseContainer{
margin: 1%;
}

.customspinner{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -50px;
    margin-top: -50px;
    background-size: 100%;
}

::ng-deep .clickable-link {
  color: rgb(29, 145, 173);
  text-decoration: underline;
  cursor: pointer;
}
