
<form  [formGroup]="sellForm" class="sellDetails-Container">
<p>Debug value: {{ sellForm.get('customerName')?.value }}</p>
  <label for="customerName">Invoice Number: </label>
    <input
    id="customerName"
    type="text"
    formControlName="invoiceNumber"
    readonly="true"
  />
<br>
  <label for="customerName">Customer Name: </label>
  <input
    id="customerName"
    type="text"
    formControlName="customerName"
    readonly="true"
  />
</form>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Close</button>
</div>
